<html>
    <head>
        <meta charset="utf-8">
        <title>Establecimiento de criterios</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <a href="index.html"><img src="../img/GeekFactory.PNG" alt="logo" width="200px"></a>
        <br>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand">Establecimiento de criterios</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="nuevoCriterio.html">Nuevo criterio</a>
                    </li>
                </ul>
            </div> 
        </nav>
        <div class="container">
            <h1>Criterios</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Criterio</th>
                        <th>Tipo</th>
                        <th>Ponderación</th>
                    </tr>
                </thead>
            </table>
            <!--  TODO: <a> inside <button> is not allowed in HTML5 use styled <div>-->
            <!--<button type="button" class="btn btn-outline-success right">-->
            <div class="btn btn-outline-success">
                <a href="index.html"><img src= "../img/back.png"></a>
            </div>
            <!--</button>-->
            <!--  TODO: <a> inside <button> is not allowed in HTML5 use styled <div>-->
            <!--<button type="button" class="btn btn-outline-success right">-->
            <div class="btn btn-outline-success right">
                <a href="valores.html"><img src= "../img/next.png"></a>
            </div>
            <!--</button>-->
        </div>
    </body>
</html>