<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Selección de proyectos estratégicos</title>
        <link rel="stylesheet" href="../css/style.css">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Sweet Alerts -->
    	<link href="../vendors/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet">
    </head>
    <body id="mainBody">
        <header>
            <nav class="nav-bar-custom">
                <div class="nav-wrapper green darken-2">
                    <a href="index.html" style="font-size: 50px"><img src="../img/GeekFactory.PNG" alt="logo" class="nav-bar-img"><b> Geek Factory</b></a>
                </div>
            </nav>
        </header>
        <!--<nav class="navbar navbar-expand-lg navbar-light">-->
            <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
                <!--<ul class="navbar-nav mr-auto">-->
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" onclick="test()" href="criterio.html">Establecimiento de criterios</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<ul class="navbar-nav mr-auto">-->
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="valores.html">Asignación de valores por criterio y proyecto</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<ul class="navbar-nav mr-auto">-->
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="proyectos.html">Registro de proyectos</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</nav>-->
        <div class="container">
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat vestibulum augue quis finibus. Sed posuere varius felis id mattis. Sed tincidunt commodo sem in ornare. Nullam rhoncus blandit semper. Duis lacinia, magna ac ullamcorper imperdiet, nulla eros finibus purus, in ornare velit leo ac massa. Vivamus a nunc vestibulum, lacinia sapien nec, sodales velit. Vestibulum non neque maximus, ultrices lectus quis, aliquet turpis. Phasellus rhoncus semper tellus. In viverra consequat viverra. Ut magna est, suscipit ac vehicula ut, convallis a dui. Curabitur porta, purus nec facilisis mollis, leo nisi faucibus sapien, congue sodales eros lacus nec lacus. Aenean eu neque tortor. Curabitur bibendum lobortis risus, non finibus quam hendrerit eget. Phasellus interdum cursus nibh, a tristique dolor pharetra vitae. Aliquam sit amet lorem euismod, viverra turpis eu, rhoncus ligula.
            </p>
            <!--  TODO: <a> inside <button> is not allowed in HTML5 use styled <div>-->
            <!--<button type="button" class="btn btn-outline-success right">-->
            <div class="btn btn-outline-success right">
                <a href="criterio.html"><img src= "../img/next.png"></a>
            </div>
            <!--</button>-->
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="../js/materialize.min.js"></script>
        <!-- SweetAlerts -->
        <script src="../vendors/sweetalert/dist/sweetalert.min.js"></script>
    </body>
</html>