<html>
    <head>
        <meta charset="utf-8">
        <title>Establecimiento de criterios</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="../js/store.everything.min.js"></script>
        <script src="../js/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <a href="index.html"><img src="../img/GeekFactory.PNG" alt="logo" width="200px"></a>
        <br>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand">Nuevo criterio</a> 
        </nav>
        <div class="container">
            <div class="mx-auto text-center" style="width: 300px;">
                <form id="newCriteria-Form">
                    <div class="form-group">
                        <label for="criteriaName">Nombre del criterio</label>
                        <input type="text" class="form-control text-center" id="criteriaName" name="criteriaName" placeholder="Nombre del criterio">
                    </div>
                    <div class="form-group">
                        <fieldset class='legacy-form-row'>
                            <legend>Tipo</legend>
                            <input id='cuantitativo'
                                   name='type'
                                   type='radio'
                                   value='cuantitativo' checked/>
                            <label for='cuantitativo' class='radio-label'>Cuantitativo</label>
                            <input id='cualitativo'
                                   name='type'
                                   type='radio'
                                   value='cualitativo' />
                            <label for='cualitativo' class='radio-label'>Cualitativo</label>
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <label >Mejor calificación es otrogada al valor</label>
                        <select name="radioValue" class="form-control">
                            <option>Mayor</option>
                            <option>Menor</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-success">Guardar</button>
                    </div>
                </form>
            </div>
            <!--  TODO: <a> inside <button> is not allowed in HTML5 use styled <div>-->
            <!--<button type="button" class="btn btn-outline-success right">-->
            <div class="btn btn-outline-success">
                <a href="criterio.html"><img src= "../img/back.png"></a>
            </div>
            <!--</button>-->
        </div>
        <script src="../js/custom-scripts.js"></script>
    </body>
</html>