<html>
    <head>
        <meta charset="utf-8">
        <title>Asignación de valores por criterio y proyecto</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/store.everything.min.js"></script>
        <script src="../js/jquery-3.3.1.min.js"></script>
    </head>
    <body  onload="fillTable()">
        <a href="index.html"><img src="../img/GeekFactory.PNG" alt="logo" width="200px"></a>
        <br>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand">Asignación de valores</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="matriz.html">Matriz de decisión con ponderación y peso</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="analisisCostos.html">Análisis de costos</a>
                    </li>
                </ul>
            </div> 
        </nav>
        <div class="container">
            <table class="scroll table table-bordered">
                <thead>
                    <tr>
                        <th>Proyecto</th>
                        <th>Criterio 1</th>
                        <th>Criterio 2</th>
                    </tr>
                </thead>
                <tbody id="projectTable"></tbody>
            </table>
            <!--  TODO: <a> inside <button> is not allowed in HTML5 use styled <div>-->
            <!--<button type="button" class="btn btn-outline-success right">-->
            <div class="btn btn-outline-success">
                <a href="criterio.html"><img src= "../img/back.png"></a>
            </div>
            <!--</button>-->
            <!--  TODO: <a> inside <button> is not allowed in HTML5 use styled <div>-->
            <!--<button type="button" class="btn btn-outline-success right">-->
            <div class="btn btn-outline-success right">
                <a href="proyectos.html"><img src= "../img/next.png"></a>
            </div>
            <!--</button>-->
        </div>
        <script src="../js/custom-scripts.js"></script>
    </body>
</html>